.userContainer {
  display: flex;
  gap: 10px;
}
.button {
  background-color: burlywood;
  border-radius: 4px;
  font-size: 10px;
  color: black;
  border: 1px solid black;
  font-weight: 500;
  height: 20px;
  width: 50px;

  :hover {
    background-color: #a8d1e7;
  }
}
